name: "Mark Stale Pull Requests"

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Mark stale pull requests
        uses: actions/stale@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-pr-message: 'This PR has been inactive for 30 days. It will be closed in 5 days if no further activity occurs.'
          days-before-stale: 30
          days-before-close: 5
          only-labels: ''
          operations-per-run: 30
          remove-stale-when-updated: true
          debug-only: false
          ascending: false
          delete-branch: false
          exempt-all-assignees: false
          exempt-all-milestone: false
          exempt-all-projects: false
          exempt-assignees: ''
          exempt-issue-labels: ''
          exempt-pr-labels: ''
          exempt-milestones: ''
          exempt-projects: ''
          exempt-issue-milestones: ''
          exempt-pr-milestones: ''
          exempt-issue-projects: ''
          exempt-pr-projects: ''
